* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

header {
  display: flex;
  padding: 30px 20px;
  height: 90px;
  justify-content: space-between;
  background-color: #5e81d1;
  color: rgb(29, 29, 29);
}

header > ul {
  display: flex;
  min-width: 0;
  align-items: center;
}
header li {
  list-style-type: none;
  min-width: 60px;
  text-align: center;
}
.actual-page {
  font-weight: bold;
}

.switch-page {
  display: flex;
  padding: 30px 20px;
  height: 90px;
  justify-content: space-between;
  background-color: #f87500;
  color: rgb(29, 29, 29);
  align-items: center;
}
