* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #ff8d27;
}
img {
  display: block;
  max-width: 100%;
}

header {
  display: flex;
  padding: 30px 20px;
  height: 90px;
  justify-content: space-between;
  background-color: #5e81d1;
  color: rgb(29, 29, 29);
}

header > ul {
  display: flex;
  min-width: 0;
  align-items: center;
}
header li {
  list-style-type: none;
  min-width: 60px;
  text-align: center;
}
.actual-page {
  font-weight: bold;
}

.switch-page {
  display: flex;
  padding: 30px 20px;
  height: 90px;
  justify-content: space-between;
  background-color: #f87500;
  color: rgb(29, 29, 29);
  align-items: center;
}

.list-space {
  padding: 10px 20px;
}
.list-space li {
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  padding: 10px;
}
strong {
  padding-left: 15px;
}
.final-price {
  text-align: right;
  padding-right: 60px;
}
